@media (max-width: 320px) {
  .header-nav {
    padding: 27px 0 17px;
    &__list {
      display: none;
    }
    &__tel {
      display: none;
    }
  }
  .header-main {
    background-image: none;
    padding-bottom: 40px;
    flex-direction: column;
    margin-bottom: -174px;
    &__info-title {
      font-size: 28px;
      line-height: 131.9%;
      text-align: center;
      margin-bottom: 5px;
    }
    &__info-subtitle {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }
    &__list {
      display: none;
    }
    &__circle {
      display: none;
    }
    &__info-btn {
      font-size: 20px;
      line-height: 24px;
      padding: 18px 99px;
      transform: translateY(600%);
    }
    &__info-span {
      display: none;
    }
    &__info-img {
      margin-left: 0px;
      transform: translateY(-50%);
    }
  }
  .title {
    font-size: 20px;
    line-height: 24px;
  }
  .how-it-work {
    padding: 40px 0px;
    &__title {
      margin-bottom: 40px;
    }
    &__box {
      flex-direction: column;
      row-gap: 25px;
    }
    &__card {
      width: 100%;
    }
    &__card-span {
      font-size: 50px;
      line-height: 61px;
      margin-right: 29px;
    }
    &__card-title {
      font-size: 16px;
      line-height: 129.9%;
      margin-bottom: 0px;
    }
    &__card-subtitle {
      display: none;
    }
  }
  .price {
    padding: 50px 0;
    background: #f8fbff;

    &__title {
      margin-bottom: 40px;
    }
    &__subtitle {
      display: none;
    }
    &__cards {
      flex-direction: column;
      row-gap: 20px;
    }
    &__card {
      width: 100%;
      padding: 15px 0;
    }
    &__card-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 24px;
    }
    &__card-item {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 15px;
    }
    &__card-price {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 50px;
    }
    &__card-btn {
      width: 100%;
    }
  }
  .slider {
    padding: 40px 0 45px;
    &__title {
      margin-bottom: 20px;
    }
    &__subtitle {
      display: none;
    }
    &__list {
      margin-bottom: 40px;
    }
    &__list-item {
      padding-bottom: 1px;
      transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
      &:hover {
        border-bottom: 1px solid #fed100;
      }
    }
    &__list-link {
      font-size: 16px;
      line-height: 20px;
      padding: 0px;
      border: none;
      &:hover {
        border: none;
      }
    }
    &__list-item + .slider__list-item {
      margin-left: 27px;
    }
  }
  .slider-inner {
    &__box {
      padding-left: 0;
      padding-right: 0;
      flex-direction: column;
    }
    &__list {
      display: none;
    }
    &__img {
      margin-bottom: 20px;
    }
    &__info {
      order: 1;
    }
    &__title {
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      font-weight: 400;
      &::after {
        content: " / 1,5 тонны";
      }
    }
    &__btn {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      padding: 18px 100px;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
  }
  //.slick-dots li.slick-active {
  //  border-radius: 50%;
  //  border: 2px solid #FED100;
  //  position: relative;
  //}
  .slick-dots li button {
    position: absolute;
    border: none;
    padding: 0;
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #333333;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
  }
  .review {
    padding: 40px 0 50px;
    &__title {
      margin-bottom: 40px;
    }
    &__inner {
      flex-direction: column;
      margin-bottom: 45px;
    }
    &__card-name {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
    }
    &__card-info {
      margin-bottom: 37px;
    }
    &__card-text {
      margin-bottom: 15px;
    }
    &__card-link {
      line-height: 131.4%;
    }
  }
}
