@media (max-width: 375px) {
  .header-nav {
    padding: 29px 0 16px;
    &__logo {
      z-index: 11;
    }
    &__btn {
      display: block;
      padding: 0px;
      border: none;
      background-color: inherit;
      z-index: 1;
    }
    &__list {
      display: block;
      position: absolute;
      background-color: #e4b3e4;
      left: 0;
      right: 0;
      top: 0px;
      text-align: center;
      z-index: 1;
      margin-top: 0px;
      transform: translateY(-100%);
      transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    &__list--active {
      transform: translateY(0%);
    }
    &__list-item + .header-nav__list-item {
      margin-left: 0;
    }
    &__list-item {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &__tel {
      display: none;
    }
  }
  .header-main {
    background-image: none;
    flex-direction: column;
    &__info-title {
      font-size: 28px;
      line-height: 126.9%;
      margin-bottom: 5px;
      text-align: center;
    }
    &__info-subtitle {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }
    &__info-img {
      display: block;
    }
    &__circle {
      display: none;
    }
    &__list {
      display: none;
    }
    &__info-span {
      display: none;
    }
    &__info-btn {
      width: 100%;
      margin-bottom: 0;
      font-size: 20px;
      line-height: 24px;
      transform: translateY(780%);
    }
    &__info-img {
      margin: 0 auto;
      transform: translateY(-30%);
    }
  }
  .title {
    font-size: 20px;
    line-height: 24px;
  }
  .how-it-work {
    padding: 40px 0;
    &__title {
      margin-bottom: 40px;
    }
    &__box {
      row-gap: 30px;
    }
    &__card {
      width: 100%;
    }
    &__card-span {
      font-weight: 300;
      font-size: 50px;
      line-height: 61px;
      margin-right: 29px;
    }
    &__card-title {
      font-size: 16px;
      line-height: 129.9%;
      margin-bottom: 0;
    }
    &__card-subtitle {
      display: none;
    }
  }
  .price {
    padding: 50px 0;
    background: #f8fbff;
    &__title {
      margin-bottom: 40px;
    }
    &__subtitle {
      display: none;
    }
    &__cards {
      flex-direction: column;
      row-gap: 20px;
    }
    &__card {
      background: #f8fbff;
      width: 100%;
      padding-top: 0;
    }
    &__card-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 24px;
    }
    &__card-price {
      margin: 43px 0 50px;
    }
    &__card-btn {
      width: 100%;
    }
  }
  .slider {
    padding: 40px 0 45px;
    &__title {
      margin-bottom: 20px;
    }
    &__subtitle {
      display: none;
    }
    &__list {
      margin-bottom: 40px;
    }
    &__list-item {
      padding-bottom: 1px;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:hover {
        border-bottom: 1px solid #fed100;
      }
    }
    &__list-link {
      font-size: 16px;
      line-height: 20px;
      padding: 0;
      border: none;
      &:hover {
        border: none;
      }
    }
  }
  .slider-inner {
    &__box {
      padding: 0;
      flex-direction: column;
    }
    &__list {
      display: none;
    }
    &__info {
      order: 1;
    }
    &__title {
      font-weight: 400;
      text-align: center;
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 31px;
      &::after {
        content: " / 1,5 тонны ";
      }
    }
    &__btn {
      padding: 18px 100px;
    }
    .slick-next,
    .slick-arrow {
      display: none !important;
    }
  }
  .review {
    padding: 40px 0 50px;
    &__title {
      margin-bottom: 40px;
    }
    &__inner {
      flex-direction: column;
    }
    &__btn {
      width: 100%;
    }
  }
  .order {
    padding: 60px 0 71px;
    &__form {
      flex-direction: column;
    }
    &__form-name {
      margin-bottom: 40px;
    }
  }
  .map-contact {
    padding: 0px;
    padding-top: 300px;
    background-position: top;
    &__info {
      margin-left: 0;
      width: 100%;
      padding-right: 15px;
    }
  }
  .footer {
    padding: 70px 0px;
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__info {
      text-align: center;
    }
    &__list {
      text-align: center;
    }
    &__social-info {
      margin-bottom: 30px;
    }
    &__contact-btn {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 320px) {
  .header-nav {
    padding: 27px 0 17px;
    &__list {
      display: none;
    }
    &__tel {
      display: none;
    }
  }
  .header-main {
    background-image: none;
    padding-bottom: 40px;
    flex-direction: column;
    margin-bottom: -174px;
    &__info-title {
      font-size: 28px;
      line-height: 131.9%;
      text-align: center;
      margin-bottom: 5px;
    }
    &__info-subtitle {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }
    &__list {
      display: none;
    }
    &__circle {
      display: none;
    }
    &__info-btn {
      font-size: 20px;
      line-height: 24px;
      padding: 18px 99px;
      transform: translateY(600%);
    }
    &__info-span {
      display: none;
    }
    &__info-img {
      margin-left: 0px;
      transform: translateY(-50%);
    }
  }
  .title {
    font-size: 20px;
    line-height: 24px;
  }
  .how-it-work {
    padding: 40px 0px;
    &__title {
      margin-bottom: 40px;
    }
    &__box {
      flex-direction: column;
      row-gap: 25px;
    }
    &__card {
      width: 100%;
    }
    &__card-span {
      font-size: 50px;
      line-height: 61px;
      margin-right: 29px;
    }
    &__card-title {
      font-size: 16px;
      line-height: 129.9%;
      margin-bottom: 0px;
    }
    &__card-subtitle {
      display: none;
    }
  }
  .price {
    padding: 50px 0;
    background: #f8fbff;

    &__title {
      margin-bottom: 40px;
    }
    &__subtitle {
      display: none;
    }
    &__cards {
      flex-direction: column;
      row-gap: 20px;
    }
    &__card {
      width: 100%;
      padding: 15px 0;
    }
    &__card-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 24px;
    }
    &__card-item {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 15px;
    }
    &__card-price {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 50px;
    }
    &__card-btn {
      width: 100%;
    }
  }
  .slider {
    padding: 40px 0 45px;
    &__title {
      margin-bottom: 20px;
    }
    &__subtitle {
      display: none;
    }
    &__list {
      margin-bottom: 40px;
    }
    &__list-item {
      padding-bottom: 1px;
      transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
      &:hover {
        border-bottom: 1px solid #fed100;
      }
    }
    &__list-link {
      font-size: 16px;
      line-height: 20px;
      padding: 0px;
      border: none;
      &:hover {
        border: none;
      }
    }
    &__list-item + .slider__list-item {
      margin-left: 27px;
    }
  }
  .slider-inner {
    &__box {
      padding-left: 0;
      padding-right: 0;
      flex-direction: column;
    }
    &__list {
      display: none;
    }
    &__img {
      margin-bottom: 20px;
    }
    &__info {
      order: 1;
    }
    &__title {
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      font-weight: 400;
      &::after {
        content: " / 1,5 тонны";
      }
    }
    &__btn {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      padding: 18px 100px;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
  }
  //.slick-dots li.slick-active {
  //  border-radius: 50%;
  //  border: 2px solid #FED100;
  //  position: relative;
  //}
  .slick-dots li button {
    position: absolute;
    border: none;
    padding: 0;
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #333333;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
  }
  .review {
    padding: 40px 0 50px;
    &__title {
      margin-bottom: 40px;
    }
    &__inner {
      flex-direction: column;
      margin-bottom: 45px;
    }
    &__card-name {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
    }
    &__card-info {
      margin-bottom: 37px;
    }
    &__card-text {
      margin-bottom: 15px;
    }
    &__card-link {
      line-height: 131.4%;
    }
  }
  .order {
    padding: 60px 0 71px;
    &__title {
      max-width: 222px;
      margin: 0 auto 10px;
      text-align: center;
    }
    &__subtitle {
      font-size: 15px;
      line-height: 131.4%;
    }
    &__form {
      flex-direction: column;
    }
    &__form-name {
      width: 290px;
      margin-bottom: 40px;
    }
    &__form-span {
      display: none;
    }
    &__form-btn {
      margin-bottom: 15px;
      width: 100%;
    }
  }
  .map-contact {
    padding: 0px;
    padding-top: 524px;
    background-position: center;
    &__info {
      padding-top: 46px;
      padding-bottom: 44px;
      padding-left: 44px;
      padding-right: 24px;
      //background-color: crimson;
      margin-left: -15px;
      width: 320px;
    }
    &__info-logo {
      display: none;
    }
    &__social {
      display: none;
    }
    &__list {
      margin-bottom: 0px;
    }
    &__list-item {
      padding-left: 0px;
      font-size: 15px;
      line-height: 131.4%;
      &::before {
        display: none;
      }
    }
    &__list-link {
      font-size: 15px;
      line-height: 131.4%;
    }
  }
  .footer {
    padding: 60px 0 50px;
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__info-logo {
      margin-bottom: 36px;
      display: flex;
      justify-content: center;
    }
    &__info-list {
      text-align: center;
      color: #333333;
    }
    &__info-item:first-child {
      margin-bottom: 18px;
    }
    &__list {
      text-align: center;
    }
    &__social-info {
      margin-bottom: 47px;
    }
    &__social-info-list {
      margin-bottom: 18px;
    }
    &__contact-tel {
      display: none;
    }
    &__contact-btn {
      margin-bottom: 0px;
      padding: 18px 100px;
    }
  }
}
