@media (max-width: 320px) {
  .header-nav {
    padding: 27px 0 17px;
    &__list {
      display: none;
    }
    &__tel {
      display: none;
    }
  }
  .header-main {
    background-image: none;
    padding-bottom: 40px;
    flex-direction: column;
    margin-bottom: -174px;
    &__info-title {
      font-size: 28px;
      line-height: 131.9%;
      text-align: center;
      margin-bottom: 5px;
    }
    &__info-subtitle {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }
    &__list {
      display: none;
    }
    &__circle {
      display: none;
    }
    &__info-btn {
      font-size: 20px;
      line-height: 24px;
      padding: 18px 99px;
      transform: translateY(600%);
    }
    &__info-span {
      display: none;
    }
    &__info-img {
      margin-left: 0px;
      transform: translateY(-50%);
    }
  }
}
