@import "reset";
@import "global";
@import "vars";

.header {
  background-color: $headerBg;
}
.header-nav {
  padding: 40px 0 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__btn{
    display: none;
  }
  &__list {
    display: flex;
  }
  &__list-item + .header-nav__list-item {
    margin-left: 50px;
  }
  &__list-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $link;
  }
  &__tel {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $link;
    border-bottom: 1px solid #333333;
  }
}
.header-main {
  display: flex;
  color: #333333;
  background-image: url("../img/headerBg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 45px;
  &__info {
    max-width: 546px;
  }
  &__info-title {
    font-weight: bold;
    font-size: 70px;
    line-height: 126.9%;
    margin-bottom: 23px;
  }
  &__info-subtitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 50px;
  }
  &__info-btn {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $btn;
    padding: 16px 95px 15px 96px;
    background-color: #ff352b;
    border: none;
    margin-bottom: 77px;
    cursor: pointer;
    position: relative;
  }
  &__info-span {
    position: absolute;
    border: 2px solid #f2f2f2;
    width: 304px;
    height: 60px;
    top: 10px;
    left: 10px;
    z-index: 0;
  }
  &__list {
    display: flex;
  }
  &__list-item {
    display: flex;
  }
  &__list-img {
    margin-right: 10px;
  }
  &__list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
  &__info-img {
    margin-left: 67px;
    //transform: translateY(8px);
  }
  &__circle {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    background: rgba(61, 155, 233, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: auto;
    transform: translateY(-40px);
    margin-right: 18px;
  }
  &__circle-second {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(61, 155, 233, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.how-it-work {
  padding: 95px 0 45px;
  &__title {
    margin-bottom: 60px;
  }
  &__box {
    max-width: 1106px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 100px;
  }
  &__card {
    display: flex;
    align-items: center;
    color: #333333;
    width: 45%;
  }
  &__card-span {
    display: block;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    margin-right: 40px;
  }
  &__card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  &__card-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
}
.price {
  padding: 59px 0 67px;
  &__title {
    margin-bottom: 15px;
  }
  &__subtitle {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 60px;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
  }
  &__card {
    width: 420px;
    background: #ffffff;
    border: 1px solid #ebebeb;
    padding: 84px 5px 78px;
    text-align: center;
    transition: all 0.6s;
    color: #333333;
  }
  &__card:hover {
    border: 1px solid #fed100;
  }
  &__card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 60px;
  }
  &__card-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 25px;
  }
  &__card-item:last-child {
    margin-bottom: 0;
  }
  &__card-price {
    display: block;
    margin: 61px auto 52px;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
  }
  &__card-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 14px 77px;
    border: none;
    background-color: #fed100;
    cursor: pointer;
  }
}

.slider {
  padding: 35px 0 46px;
  &__title {
    margin-bottom: 15px;
  }
  &__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #333333;
    margin-bottom: 60px;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 47px;
  }
  &__list-item + .slider__list-item {
    margin-left: 19px;
  }
  &__list-link {
    padding: 13px 56px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    border: 1px solid #ebebeb;
    transition: all 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    &:hover {
      border: 1px solid #fed100;
    }
  }
}
.slider-inner {
  color: #333333;
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 149px;
    padding-right: 154px;
    //background-color: magenta;
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 37px;
  }
  &__list {
    margin-bottom: 35px;
  }
  &__list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 28px;
    padding-left: 30px;
    position: relative;
    &::before {
      position: absolute;
      content: url("../img/checkIcon-slider.svg");
      left: 1px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 13px 79px;
    color: #333333;
    background: #fed100;
    border: none;
    cursor: pointer;
  }
}
.slick-prev,
.slick-next {
  border: none;
  padding: none;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 11111;
}
.slick-prev {
  left: 40px;
}
.slick-next {
  right: 40px;
}

.review {
  padding: 100px 0 94px;
  background-color: $headerBg;
  &__title {
    margin-bottom: 60px;
  }
  &__inner {
    display: flex;
    row-gap: 20px;
    margin-bottom: 59px;
    color: #333333;
  }
  &__card-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
  }
  &__card-info {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
  }
  &__card-span {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    margin-right: 10px;
  }
  &__card-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 18px;
  }
  &__card-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    border-bottom: 1px solid #333333;
  }
  &__btn {
    display: block;
    margin: 0 auto;
    background-color: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    padding: 13px 64px;
    border: 1px solid #333333;
  }
}
.order {
  padding: 124px 0 123px;
  &__inner {
    max-width: 1002px;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 10px;
    text-align: left;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 40px;
  }
  &__form {
    display: flex;
    justify-content: space-between;
  }
  &__form-name {
    height: 34px;
    width: 300px;
    padding: 5px;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid #333333;
    outline: none;
  }
  &__form-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 13px 31px;
    color: #f2f2f2;
    background: #ff352b;
    border: none;
    margin-bottom: 22px;
    position: relative;
  }
  &__form-span {
    position: absolute;
    border: 1px solid #fed100;
    width: 250px;
    height: 50px;
    left: 10px;
    top: 10px;
    z-index: -1;
  }
  &__form-box--label {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.015em;
    color: #333333;
    margin-left: 10px;
  }
}
.map-contact {
  background-image: url("../img/map-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: inherit;
  padding: 162px 0 178px;
  &__info {
    width: 368px;
    background-color: #ffffff;
    padding: 40px 40px 40px 35px;
    margin-left: 137px;
  }
  &__info-logo {
    margin-bottom: 40px;
  }
  &__list {
    margin-bottom: 54px;
  }
  &__list-item,
  &__list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 20px;
  }
  &__list-item {
    padding-left: 29px;
    position: relative;
    &::before {
      position: absolute;
      content: url("../img/checkIcon.svg");
      left: 0px;
    }
  }
  &__list-mail {
    border-bottom: 1px solid #333333;
  }
  &__list-item:last-child {
    margin-bottom: 0px;
  }
  &__social {
    display: flex;
    justify-content: flex-end;
  }
  &__social-icon + .map-contact__social-icon {
    margin-left: 25px;
  }
}
.footer {
  background-color: $footerBg;
  padding: 100px 0 102px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info-logo {
    margin-bottom: 44px;
  }
  &__info-list {
    width: 238px;
  }
  &__info-item {
    margin-bottom: 36px;
  }
  &__info-item:last-child {
    margin-bottom: 0px;
  }
  &__info-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130.4%;
    color: #0e0f12;
  }
  &__list-item {
    margin-bottom: 15px;
  }
  &__list-item:last-child {
    margin-bottom: 0px;
  }
  &__list-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
  }
  &__social-info-list {
    display: flex;
    margin-bottom: 13px;
  }
  &__social-info-item + .footer__social-info-item {
    margin-left: 31px;
  }
  &__social-info-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    border-bottom: 1px solid #333333;
  }
  &__contact-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    padding: 10px 30px;
    border: 1px solid #333333;
    background-color: inherit;
    margin-bottom: 5px;
  }
  &__contact-tel {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    text-align: center;
  }
}
@import "media";
